/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* 
    App
  */
.frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 500px;
  max-width: 90%;
  aspect-ratio: 1.125 / 1;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 15px -5px #000000ee;
}
.frame__bg-wrapper {
  height: 130%;
  transform-origin: center center;

  transition: transform 0.2s linear;
}
.frame__image {
  height: 100%;
  max-width: max-content;
}
.frame__logo {
  position: absolute;
  width: 200px;
  height: 100px;
  inset: 0;
  top: 0;
  margin: auto;
  z-index: 2;
}
